{% extends "header.html" %}
{% block title %}contact{% endblock title %}
    {% block body %}
    <div class="banner" style="display: flex;justify-content: center; align-items:center;background-image:url(static/images/ayushImage.jpg); height: 100vh; background-repeat: no-repeat; background-size: cover; background-position: center; ">
     <div class="container" style="width: 150vmin; height: 75vmin;">
        <p style="text-align: center; margin-top: 10vmin; font-size: 10vmin; color: green; font-weight: bold;">Welcome to Ayush Portal</p>
        <p style="text-align: center;font-size: 3vmin;letter-spacing: 1vmin; color: green; font-weight: bold;">(One Stop platfrom for Ayush Ministry)</p>
        <div style="display: flex; justify-content: center;">
        <button class="Explore" style="border-radius: 3vmin; padding: 3vmin; font-size: 3.25vmin;border: 1px solid green; margin-top: 5vmin;">Explore Portal</button>
        </div>
        <div style="margin-top: 10vmin;">
         </div>

    </div>
    </div>

 
    <style>

        .Explore{
            background-color: green;color: white;
            letter-spacing: 0.5vmin;
            font-weight: bold;
        }
        .Explore:hover
        {
            background-color: white;
            color:black;
            border: 1px solid red;
        }
        .border{
            
            height: 10vmin;
            width: 10vmin;
            padding: 1vmin;
        }
       
     
        
           
 
        </style>
     <button><a href="/signup">Sign-up</a></button>
     {% endblock body %}

    
